{{- $item := .item -}}
{{- $link := .link | default false -}}
{{- $showNotes := .showNotes | default false -}}
{{- $period := .period | default false -}}
{{- $strongName := .strongName | default "" -}}
{{- $authors := $item.Params.authors | default (slice) -}}
{{- $notes := $item.Params.author_notes | default (slice) -}}
{{- $total := len $authors -}}

{{- range $idx, $a := $authors -}}
  {{- $resolved := partial "content/resolve_author_profile" (dict "name" $a) -}}
  {{- $display := index $resolved "display" -}}
  {{- $url := index $resolved "url" -}}
  {{- $out := $display -}}
  {{- if and (ne $strongName "") (eq $display $strongName) -}}
    {{- $out = printf "<b>%s</b>" $display -}}
  {{- end -}}
  {{- if and $link (ne $url "") -}}
    <a href="{{ $url }}" style="color:black;">{{ $out | safeHTML }}</a>
  {{- else -}}
    {{- $out | safeHTML -}}
  {{- end -}}

  {{- if and $showNotes (lt $idx (len $notes)) -}}
    {{- if eq (index $notes $idx) "Equal contribution" -}}<sup title="Equal contribution">†</sup>{{- end -}}
    {{- if eq (index $notes $idx) "Corresponding author" -}}<sup title="Corresponding author">*</sup>{{- end -}}
  {{- end -}}

  {{- if ne $idx (sub $total 1) -}}
    {{- if eq (add $idx 1) (sub $total 1) -}}, and&nbsp;{{- else -}},&nbsp;{{- end -}}
  {{- else if $period -}}.{{- end -}}
{{- end -}}
