{{ $item := .item }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

<li style="margin-bottom:1.2em; line-height:1.6;">
  {{ with $item.Params.authors }}
    {{ range $idx, $author := . }}
      {{ $authorPage := site.GetPage (printf "authors/%s" (urlize $author)) }}
      {{ if $authorPage }}
        <a href="{{ $authorPage.RelPermalink }}">{{ $author }}</a>{{ if ne (add $idx 1) (len $) }}, {{ end }}
      {{ else }}
        {{ $author }}{{ if ne (add $idx 1) (len $) }}, {{ end }}
      {{ end }}
    {{ end }}.
  {{ end }}
  <b>
    {{ if $link }}
      <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
    {{ else }}
      {{ $item.Title }}
    {{ end }}
  </b>.
  {{ with $item.Params.publication }}
    <i>{{ . }}</i>,
  {{ end }}
  {{ with $item.Params.date }}
    {{ (time .).Year }}.
  {{ end }}
  {{ if $item.Params.url_pdf }}
    <a href="{{ $item.Params.url_pdf }}" target="_blank">[PDF]</a>
  {{ end }}
</li>