{{ $item := .item }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

<li style="margin-bottom:1.2em; line-height:1.6;">
  {{ with $item.Params.authors }}
    {{ range $index, $author := . }}
      {{ $author_profile := site.GetPage (printf "authors/%s" (urlize $author)) }}
      {{ if $author_profile }}
        <a href="{{ $author_profile.Permalink }}" style="color: black;">{{ $author }}</a>
      {{ else }}
        {{ $author }}
      {{ end }}
      {{ if eq (index $.item.Params.author_notes $index) "Equal contribution" }}<sup>†</sup>{{ end }}
      {{ if eq (index $.item.Params.author_notes $index) "Corresponding author" }}<sup>*</sup>{{ end }}
      {{ if ne $index (sub (len $.item.Params.authors) 1) }}
        {{ if eq (add $index 1) (sub (len $.item.Params.authors) 1) }}
          and 
        {{ else }}
          , 
        {{ end }}
      {{ end }}
    {{ end }}.
  {{ end }}
  <b>
    {{ if $link }}
      <a href="{{$link}}" {{ $target | safeHTMLAttr }} style="color: black;">"{{ $item.Title }}"</a>
    {{ else }}
      "{{ $item.Title }}"
    {{ end }}
  </b>.
  {{ with $item.Params.publication }}
    <i>{{ . }}</i>,
  {{ end }}
  {{ with $item.Params.date }}
    ({{ (time .).Year }}).
  {{ end }}
  {{ if $item.Params.url_pdf }}
    <a href="{{ $item.Params.url_pdf }}" target="_blank" style="color: black;">[PDF]</a>
  {{ end }}
</li>