
<div class="btn-row">
  <button
    class="glass-toggle-btn"
    id="toggle-btn"
    onclick="
      this.textContent = (this.textContent === 'ref') ? 'showcase' : 'ref';
      var refOn = (this.textContent === 'ref');
      var pub = document.getElementById('publication-container');
      var pubs = document.getElementById('container-publications');
      pub.style.setProperty('display', refOn ? 'flex' : 'none', 'important');
      pubs.style.setProperty('display', refOn ? 'none' : 'flex', 'important');
      pubs.style.setProperty('height', 'auto', 'important'); // height를 항상 auto로!
    "
  >ref</button>
</div>

<hr>

<div id="publication-container">

{{/* 이 숏코드는 publication_types에 따라 논문 목록을 분류하여 표시합니다. */}}
{{/* 이 코드는 전체 사이트에서 'publication' 섹션의 페이지를 가정합니다. */}}

{{ $publicationTypes := slice "paper-csai" "article-journal" "paper-conference" }}

{{ range $type := $publicationTypes }}
  {{ $title := "" }}
  {{ if eq $type "paper-csai" }}
    {{ $title = "Top AI/CS Conference" }}
  {{ else if eq $type "article-journal" }}
    {{ $title = "Journal Proceedings" }}
  {{ else if eq $type "paper-conference" }}
    {{ $title = "Conference Proceedings" }}
  {{ end }}

  {{/* 해당 publication_type을 가진 논문들을 필터링합니다. */}}
  {{/* 'where site.RegularPages "Section" "publication"'는 'content/publication' 아래의 페이지만 가져옵니다. */}}
  {{ $items := where (where site.RegularPages "Section" "publication") "Params.publication_types" "intersect" (slice $type) }}

  {{ if gt (len $items) 0 }}

    <h2>{{ $title }}</h2>

    <ol style="margin-bottom:2em; list-style: none; padding-left: 0;"> {{/* list-style: none; 추가 및 padding-left 조정 */}}
      {{ range $itemIndex, $item := $items }} {{/* $itemIndex 변수 추가 */}}
        <li style="margin-bottom:1.2em; line-height:1.6;">
          {{/* 논문 번호 및 * 표시 로직 - 볼드체 적용 */}}
          {{ $showAsterisk := false }}
          {{ with $item.Params.authors }}
            {{ if gt (len .) 0 }}
              {{ if eq (index . 0) "Kyungsu Lee" }}
                {{ $showAsterisk = true }}
              {{ end }}
              {{ range $idx, $auth := . }}
                {{ if eq $auth "Kyungsu Lee" }}
                  {{ if and ($item.Params.author_notes) (lt $idx (len $item.Params.author_notes)) }}
                    {{ if eq (index $item.Params.author_notes $idx) "Equal contribution" }}
                      {{ $showAsterisk = true }}
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}

          {{ if $showAsterisk }}<b title="Main Author">*{{ add $itemIndex 1 }}.</b>&nbsp; {{/* *번호. 볼드체 적용 */}}
          {{ else }}<b>{{ add $itemIndex 1 }}.</b>&nbsp; {{/* 번호. 볼드체 적용 */}}
          {{ end }}

          {{ with $item.Params.authors }}
            {{ $totalAuthors := len . }}
            {{ range $index, $author := . }}
              {{ $author_profile := site.GetPage (printf "authors/%s" (urlize $author)) }}

              {{ $displayedAuthor := $author }}
              {{ if eq $author "Kyungsu Lee" }}
                {{ $displayedAuthor = printf "<b>%s</b>" $author }}
              {{ end }}

              {{ if $author_profile }}
                <a href="{{ $author_profile.Permalink }}" style="color: black;">{{ $displayedAuthor | safeHTML }}</a>
              {{ else }}
                {{ $displayedAuthor | safeHTML }}
              {{ end }}
              {{/* 아래는 author_notes 관련 로직 (필요시 유지) */}}
              {{ if and ($item.Params.author_notes) (lt $index (len $item.Params.author_notes)) }}
                {{ if eq (index $item.Params.author_notes $index) "Equal contribution" }}<sup title="Equal contribution">†</sup>{{ end }}
                {{ if eq (index $item.Params.author_notes $index) "Corresponding author" }}<sup title="Corresponding author">*</sup>{{ end }}
              {{ end }}

              {{/* 쉼표와 'and'를 위한 로직 - 저자 구분 */}}
              {{ if ne $index (sub $totalAuthors 1) }}
                {{ if eq (add $index 1) (sub $totalAuthors 1) }}
                  , and&nbsp;
                {{ else }}
                  ,&nbsp;
                {{ end }}
              {{ end }}

            {{ end }}. {{/* 저자 목록 끝에 마침표 */}}
          {{ end }}
          <b>
            {{ $link := $item.RelPermalink }}
            {{ $target := "" }}
            {{ if $item.Params.external_link }}
              {{ $link = $item.Params.external_link }}
              {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
            {{ end }}

            {{ if $link }}
              <a href="{{$link}}" {{ $target | safeHTMLAttr }} style="color: black;">"{{ $item.Title }}"</a>
            {{ else }}
              "{{ $item.Title }}"
            {{ end }}
          </b>

          {{/* ==== 논문 타입별 출력 형식 분기 ==== */}}

          {{ if eq $type "paper-csai" }}
            , {{ with $item.Params.publication }}
              <i>{{ . }}</i>
              {{ if $item.Params.publication_short }}
                ({{ $item.Params.publication_short }})
              {{ end }}
            {{ end }}
          {{ else if eq $type "article-journal" }}
            , {{ with $item.Params.publication }}
              <i>{{ . }}</i>,
            {{ end }}
            {{ with $item.Params.publication_short }}
              {{ . }},
            {{ end }}
            {{ with $item.Params.date }}
              {{ (time .).Year }}
            {{ end }}
            {{ $journalInfo := "" }}
            {{ if $item.Params.journal_type }}
              {{ $journalInfo = printf "%s" $item.Params.journal_type }}
            {{ end }}
            {{ if $item.Params.impact_factor }}
              {{ if $journalInfo }}{{ $journalInfo = printf "%s; IF=%s" $journalInfo $item.Params.impact_factor }}{{ else }}{{ $journalInfo = printf "IF=%s" $item.Params.impact_factor }}{{ end }}
            {{ end }}
            {{ if $item.Params.jcr_rank }}
              {{ if $journalInfo }}{{ $journalInfo = printf "%s, %s" $journalInfo $item.Params.jcr_rank }}{{ else }}{{ $journalInfo = printf "%s" $journalInfo $item.Params.jcr_rank }}{{ end }}
            {{ end }}
            {{ if $item.Params.jcr_percentile }}
              {{ if $journalInfo }}{{ $journalInfo = printf "%s (%s)" $journalInfo $item.Params.jcr_percentile }}{{ else }}{{ $journalInfo = printf "(%s)" $journalInfo $item.Params.jcr_percentile }}{{ end }}
            {{ end }}
            {{ if $journalInfo }}
              [{{ $journalInfo }}]
            {{ end }}
          {{ else }}
            {{/* paper-conference 등 기타 타입의 기본 출력 형식 */}}
            , {{ with $item.Params.publication }}
              <i>{{ . }}</i>,
            {{ end }}
            {{ with $item.Params.date }}
              ({{ (time .).Year }})
            {{ end }}
          {{ end }}

          .
          {{ if $item.Params.url_pdf }}
            <a href="{{ $item.Params.url_pdf }}" target="_blank" style="color: black;">[PDF]</a>
          {{ end }}
        </li>
      {{ end }}
    </ol>
  {{ end }}
{{ end }}

</div>